$theme-color: #8254C4;

.component {
  .goBackBtn {
    color: rgb(117, 116, 116);
    font-size: 1em;
    font-weight: 500;
    margin: 0px 0px 2em;
  }
  padding: 13px 14px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  .title {
    white-space: pre-line;
    color: $theme-color;
    font-weight: 600;
    //line-height: 45px;
    font-size: 1.5em;
  }
}
