@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

$theme-color: #8254C4;

*:focus {
  outline: none;
}
*{
  padding: 0;
  margin: 0;
  z-index: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
a:visited, a:active, a:hover, a:link {
  color: inherit;
  text-decoration: none;
}
html, body{
  height:100%;
  width: 100%;
  overflow: hidden;
}
.searchBar {
  text-align: center;
  display: flex;
  width: 90%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: white;
  border-radius: 10px;
  box-sizing: content-box;
  padding: 3px 4px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  input {
    border: none;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    width: 95%;
  }
  button{
    vertical-align: sub;
    font-size: 1em;
    margin: 0 4px;
    color: $theme-color;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
}
.header {
  display: block;
  margin: 15px auto;
  width: 90%;
  text-align: center;
  background-color: $theme-color;
  color: white;
  padding: 6px;
  box-sizing: content-box;
  opacity: 0.9;
  border-radius: 10px;
  p {
    font-size: 1.2em;
    margin: 0;
    font-weight: inherit;
  }
}

.bottomTab {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  z-index: 1;
  background-color: $theme-color;
  padding: 4px 5px;
  button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1.4em;
    color: white;
    margin: 4px 0;
    vertical-align: sub;
  }
  button > p {
    font-size: 0.5em;
    margin: 0;
  }
  svg {
    margin-bottom: -2px;
  }
}


.requiredLogin {
  text-align: center;
  width: auto;
  height: auto;
  & > div:nth-child(even) {
    position: relative;
    top: 100px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: rgb(163, 163, 163);
    text-align: center;
    svg {
      color: rgba(95, 95, 95, 0.466);
      font-size: 4em;
    }
  }
  & > div:first-child {
    background-color: $theme-color;
    box-sizing: content-box;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 16px;
    display: block;
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    svg {
      font-size: 2em;
    }
    h3 {
      display: inline-block;
      padding: 3.5px;
    }
  }
}
.login, .register {
  p {
    color: rgb(117, 116, 116);
    font-size: 0.8em;
    font-weight: 500;
  }
  padding: 13px 14px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  h2 {
    color: $theme-color;
    margin: 10px 0px 2rem;
    font-weight: 600;
    font-size: 1.5em;
  }
  & > form {
    & > label {
      color: rgb(99, 99, 99);
    }
    input {
      display: block;
      width: 100%;
      border: none;
      border-bottom: 0.2px solid #ccc;
      margin-bottom: 14px;
      padding: 3px;
      box-sizing: border-box;
      &[type=submit] {
        background-color: $theme-color;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 0px;
        font-size: 1em;
        font-weight: 700;
        color: white;
        cursor: pointer;
      }
    }
    & > p:last-child {
      text-align: center;
      color: rgba(0, 0, 0, 0.322);
      font-size: 0.8em;
    }
  }
}
.parkingspace {
  .addPark {
    width: 92%;
    display: block;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.7);
    border: 1px rgba(0, 0, 0, 0.7) dashed;
    // height: 90px;
    text-align: center;
    padding: 15px 0;
    box-sizing: content-box;
    border-radius: 10px;
    position: relative;
    * {position: relative;}
    // svg {font-size: 3.3em;}
    // p {font-size: 1.3em;}
    p {display: inline-block;}
  }
}
.parkingspaceCard {
  &::before {
    content: '';
    background-image: url('../assets/addParking.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
  }
  border: 0.3px solid rgba(100, 100, 100, 0.582);
  position: relative;
  border-radius: 10px;
  opacity: 1;
  color: rgb(255, 255, 255);
  font-weight:  700;
  // font-size: 0.9em;
  position: relative;
  width: 88%;
  display: block;
  margin: 15px auto;
  padding: 20px 2%;
  box-sizing: content-box;
  display: flex;
  justify-content: space-evenly;
  & > p {
    display: inline-block;
  }
}

.myInfo {
  width: 92%;
  display: block;
  margin: 0 auto;
  /*
  & > button {
    width:48%;
    display: inline-block;
    margin: 0 1%;
  }
  & > button:only-child {
    width:98%;
    display: inline-block;
    margin: 0 1%;
  } */
  & > p {
    border-bottom: 1px solid #ccc;
    &:first-child {
      border-bottom: none;
      padding: 15px;
    }
    padding: 20px 15px;
    &:first-child > span {
      vertical-align: 40%;
      font-size: 1.2em;
    }
  }
  .myInfoFlexContainer {
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    padding: 10px 15px;
  }
  .verfiedTelBtn {
    font-size: 1em;
    vertical-align: baseline;
    color: #fff;
    background-color:#7b58ceee;
    border: 1px solid #7b58ceee;
    border-radius: 4px;
    padding: 5px 8px;
  }
  p:first-child > svg {
    color: #999999;
    font-size: 2.2em;
  }
  .pointBox {
    position: relative;
    background-color: #7b58ceee;
    color: #fff;
    padding: 32px 20px;
    border-radius: 8px;
    p {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 1em;
    }
    h2 {
      text-align: center;
    }
  }
  .changeMainPageBtn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.4em;
    color: #7b58ceee;
    & > * {
      vertical-align: middle;
    }
  }
}
.splashPage {
  z-index: 100;
  height: 100%;
  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  background-color: #7748fa;
  overflow: hidden
}

.markerCost {
  background-color: #6232d3d7;
  color: #fff;
  font-size: 0.7em;
  display: block;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 3px 10px;
  box-sizing: content-box;
  border-radius: 50px;
}
.parkingspaceInfoModal {
  .dragBar {
    display: block;
    margin:  0 auto;
    width: 10%;
    height: 5px;
    border-radius: 50px;
    background-color: #6232d3e3;
  }
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-sizing: content-box;
  z-index: 1;
  display: block;
  position: relative;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 93%;
  height: fit-content;
  padding: 5px 3.5%;
  padding-bottom: 4.5em;
  box-shadow: 0 -2px 5px #ccc;
  .address {
    color: $theme-color;
    font-size: 1.3em;
  }
  .parkingspaceThum {
    width: 100%;
    height: 6em;
    background-image: url('../assets/addParking.jpg');
    background-size: cover;
    display: block;
    margin: 3px auto;
    border-radius: 8px;
  }
  h3, p {margin: 3px 0;}
  p {*{vertical-align: middle}}
  p > svg {color: $theme-color;font-size:1.2em}
  .desc {opacity: 0.8;font-size:0.9em; font-weight: 500;}
  & > div{ 
    margin: 5px 0;
    display: flex;
    justify-content:space-between;
    button {
      width: 46%;
      background-color: #444444;
      color: #fff;
      border: none;
      border-radius: 10px;
      padding: 7px 5px;
      * {vertical-align: middle; font-size: 12px;}
    }
  }
}

.backgroundModal {
  width: 100vw;
  height: 100vh;
  background: rgba(206, 206, 206, 0.233);
  position: absolute;
  top: 0;
  left: 0;
  
}

.warning {
  color: red;
}

.parkingspaceDetail {
  display: block;
  width: 92%;
  margin: 0 auto;
  h3 {color: $theme-color;}
  * {
    vertical-align: middle;
  }
  svg {
    font-size: 1.1em;
  }
  & > * {
    margin: 8px 0;
  }
  .image {
    display: block;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 20vh;
    border-radius: 10px;
  }
  .detailInfo {
    & > p {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      display: flex;
      justify-content: start;
      align-items: center;
    } 
    svg {margin-right: 5px;}
    .greenBtn {
      background-color: rgb(0, 209, 0);
      padding: 5px 8px;
      font-size: 0.8em;
      margin: 0 5px;
      border-radius: 8px;
      font-weight: 700;
      color: white;
    }
    .redBtn {
      background-color: rgb(248, 82, 82);
      padding: 5px 8px;
      font-size: 0.8em;
      margin: 0 5px;
      border-radius: 8px;
      font-weight: 700;
      color: white;
    }
  }
}

.registParkingspaceForm {
  p {
    color: rgb(117, 116, 116);
    font-size: 0.8em;
    font-weight: 500;
  }
  display: block;
  width: 92%;
  margin: 0 auto;
  & > :is(input, textarea) {
    border: none;
    border-bottom: 1px solid rgb(184, 184, 184);
    width: 96%;
    padding: 2%;
  }
  & > input[type=file] {
    //position: relative;
    display: none;
  }
  .cancleBtn {
    display: block;
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin: 5px 0;
    opacity: 0.5;
  }
  .btnGroup {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
    button{
      display: block;
      width: 48%;
      background-color: #6232d3ce;
      border: 1px solid $theme-color;
      border-radius: 5px;
      padding: 5px 8px;
      margin-bottom: 0px;
      font-size: 0.9em;
      font-weight: 700;
      color: white;
    }
    button:only-child {
      width: 100%;
      background-color: #6232d3ce;
      border: 1px solid $theme-color;
      border-radius: 5px;
      padding: 5px 8px;
      margin-bottom: 0px;
      font-size: 1em;
      font-weight: 700;
      color: white;
    }
  }
}

.Guide {
  width: 100vw;
  height: 100vh;
  background-color: #7748fa;
  color: white;
  .guideWindow {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    position: relative;
    height: 94.3vh;
    overflow-x: scroll;
    width: 100vw;
    display: flex;
    flex-direction: row;
    & > * {
      width: 90vw;
      flex: none;
      scroll-snap-align: center;
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 3px;
      background-color: rgba(255, 255, 255, 0.6); /* 또는 트랙에 추가한다 */
    }
    &::-webkit-scrollbar-thumb {
      background: #4C00FF;
      border-radius: 5px;
    }
  }
  .skipContainer {
    height: 5.7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    box-sizing: content-box;
    color: white;
    &  svg {
      vertical-align: sub;
      font-size: 1.2em;
    }
    & * {font-size: 0.9em;}
    button {
      color: white;
      background-color: #44444400;
      border: none;
    }
    span {
      margin: 0 5px;
    }
  }
  .intro {
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    //text-align: center;
    div:last-child {
      width: 30%;
      margin: 15px 0;
      text-align: left;
      h2 {
        font-size: 2.2em;
      }
      h4 {
        font-size: 1.5em;
      }
    }
    img {
      width: 30%;
    }
    
  }
  .guidePage {
    padding: 10px 5vw;
    img {
      width: 80vw;
      display: block;
      margin: 5px auto;
    }
    ul, li {
      list-style: none;
      font-size: 0.9em;
    }
  }
}

@media screen and (max-width:768px) {
  .splashPage {
    height: 100vh;
  }
  .Guide {
    .intro {
      div:last-child {
        width: 60%;
        h2, h4 {
          text-align: left;
        }
      }
      img {
        width: 60%;
      }
      
    }
  }
}
//mobile
@media screen and (max-width:481px) {
  .parkingspaceCard  .address {display: none;}
  
}
//갤럭시 폴드...
@media screen and (max-width:280px) {
  .searchBar, .bottomTab, .header, .addPark {
    width: 88%;
    input {
      width: 70%;
    }
  }
  .login h3 {
    font-size: 1.1em;
  }
}
