@import './index.scss';

.reposition {
  cursor: pointer;
  position: absolute;
  bottom: 15vh;
  right: 3vw;
  height: 50px;
  border-radius: 50px;
  padding: 10px 10px;
  gap: 5px;
  outline: none;
  border: none;
  svg {
    color: rgb(80, 80, 80);
    width: 30px;
    height: 100%;
  }
  box-shadow: 5px 5px 15px 1px #0000001e;
  background-color: white;
}

.zoom {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 22.5vh;
  right: 3vw;
  border-radius: 5px;
  padding: 10px 10px;
  gap: 10px;
  outline: none;
  border: none;

  & > button {
    cursor: pointer;
    color: rgb(80, 80, 80);
    width: 30px;
    height: 100%;
    background-color: white;
    border: none;
    outline: none;
  }
  svg {
    color: rgb(80, 80, 80);
    width: 30px;
    height: 100%;
  }
  box-shadow: 5px 5px 15px 1px #0000001e;
  background-color: white;
}
