.loadingPage {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(228, 228, 228, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
@keyframes ldio-yco4x2zp24m {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-yco4x2zp24m div {
  left: 60.14px;
  top: 45.26px;
  position: absolute;
  animation: ldio-yco4x2zp24m linear 1s infinite;
  background: #93dbe9;
  width: 3.7199999999999998px;
  height: 8.68px;
  border-radius: 1.8599999999999999px / 4.34px;
  transform-origin: 1.8599999999999999px 16.74px;
}.ldio-yco4x2zp24m div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #93dbe9;
}.ldio-yco4x2zp24m div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #689cc5;
}.ldio-yco4x2zp24m div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #5e6fa3;
}.ldio-yco4x2zp24m div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #3b4368;
}.ldio-yco4x2zp24m div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #191d3a;
}.ldio-yco4x2zp24m div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #d9dbee;
}.ldio-yco4x2zp24m div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #b3b7e2;
}.ldio-yco4x2zp24m div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #93dbe9;
}.ldio-yco4x2zp24m div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #689cc5;
}.ldio-yco4x2zp24m div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #5e6fa3;
}.ldio-yco4x2zp24m div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #3b4368;
}.ldio-yco4x2zp24m div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #191d3a;
}
.loadingio-spinner-spinner-7duqwpw2dxo {
  width: 124px;
  height: 124px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f300; //background color
}
.ldio-yco4x2zp24m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-yco4x2zp24m div { box-sizing: content-box; }