.loadingPage {
  display: block;
  position: absolute;
  width: 100vw;
  height: 90vh;
  top: 0;
  left: 0;
  background: rgba(228, 228, 228, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
